<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="IsFixed" value="0"/>
        <add key="WindowLeft" value="20"/>
        <add key="WindowTop" value="20"/>
        <add key="WindowHeight" value="300"/>
        <add key="WindowWidth" value="400"/>
        <add key="FontColor" value="#000000"/>
        <add key="FontSize" value="80"/>
    </appSettings>
</configuration>